<main class="p-3">
    <div class="mb-2 d-flex justify-content-end">
        <a routerLink="form-indicator/new" class="btn btn-primary fw-bold">Nuevo Indicador</a>
    </div>
    <div class="p-2 bg-white">
        <h2 class="m-4 fw-bold fs-4">Listado de Indicadores</h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-center fw-bold fs-5">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Valor Esperado</th>
                    <th scope="col">Valor Máximo</th>
                    <th scope="col">Valor Minimo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let indicator of indicators; let count = index">
                    <td>{{ count + 1 }}</td>
                    <td>{{ indicator.indicatorName }}</td>
                    <td>{{ indicator.expectedValue }}</td>
                    <td>{{ indicator.maxValue }}</td>
                    <td>{{ indicator.minValue }}</td>
                    <td>
                        <a routerLink="form-indicator/{{ indicator.id }}" class="btn btn-primary fw-bold">Editar</a>
                        <button type="button" (click)="deleteIndicator(indicator.id)" class="btn btn-danger fw-bold ms-2">Eliminar</button>
                        <a routerLink="measurement/{{ indicator.id }}" class="btn btn-secondary fw-bold ms-2">Medidas</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>